<html>
	<head>
		<title><%= title %></title>
		<style>
		a{
			text-decoration: none;
			font-size: 20px;
		}
		button{
			 padding:10px;
		}
		body{
			font-size: 20px;

		}
		</style>
	</head>
	<body>
		<center>
			<div>
				<button ><a href="/">Home</a> | </button>
				<button><a href="/users/add">Add New User</a></button>
				<button><a href="/users">All users </a></button>
			</div>
			<h1><%= title %></h1>
		</center>		
		
